/*
    amarillo		#FAC938
    azul            #2E97C2
    rojo            #EA5924
    blanco          #F0F6F6
    negro           #212121
    negroOscuro     #141414
    negroMedio      #333333
    negroClaro      #6E6E6E

*/

.container {
    padding: 0, 40, 0, 0;
}

.header {
    align-content: center;
}

.header image {
    height: 200;
}

.footer {
    background-color: #141414;
    padding: 10;
    align-content: end;
}

.title {
    font-family: "Roboto", sans-serif;
    ;
}

.footerText {
    color: #FAC938;    
}

.bold {
    font-weight: 600;
}

.mayus{
    text-transform: uppercase;
}

.button {
    padding: 10;
}

.buttonText {
    color: #F0F6F6;
}

.nav {
    background-color: #141414;
    position: static;
}

.btnNav {
    Padding:10; 
    background-color: #141414;
}

.imgNave {
    padding: 10;
    background-color: #141414;
}

.titleAnimal {
    color: #EA5924;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: large;
    padding: 10, 20, 0, 20;
}

.text {
    font-family: "Lato", sans-serif;
    color: #F0F6F6;
    padding: 10, 0, 10, 40;
}

.imgAnimal {
    Padding: 0, 60, 0, 10;
}

.infoAnimal {
    font-family: "Roboto", sans-serif;
    color: #F0F6F6;
}